html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "TT Lakes", sans-serif;
  background: #F8F8F8;
}

.wrapper {
  min-width: 320px;
  max-width: 1121px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

a {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #1B1C21;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.header-main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 19px 16px;
}

.header__actions {
  display: flex;
}

.header__actions:last-child .header__item:first-child {
  margin-right: 42px;
}

.main-title {
  margin-top: 24px;
  margin-left: 16px;
}

.header__item {
  display: flex;
}

.main-button {
  display: flex;
  align-items: center;
}

.main-button__text {
  margin-right: 9px;
  font-weight: 500;
}

.header__logo-container {
  position: relative;
}

.header__logo-container::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 1px;
  width: 2px;
  height: 32px;
  background: #EAEAEA;
  top: 10px;
  right: -16px;
}

.main-title {
  position: relative;
}

.main-title::before {
  content: '';
  position: absolute;
  background: #41F6D7;
  width: 4px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  top: -2px;
  left: -16px;
}

.menu__list {
  display: flex;
  margin-top: 24px;
  margin-left: 16px;
  overflow-x: scroll;
  white-space: nowrap;
}

.menu__button {
  padding: 8px 16px;
  color: #7E7E82;
  background: none;
  border: 2px solid transparent;
  transition: .3s;
  border-radius: 6px;
}

.menu__button--active,
.menu__button:hover,
.menu__button:active,
.menu__button:focus {
  background: #fff;
  border: 2px solid #B8FFEC;
}

.about {
  margin-top: 24px;
}

.about__item:first-child {
  padding: 0 16px;
}

.about__p {
  margin-bottom: 16px;
  color: #1B1C21;
}

.about__p:last-of-type {
  margin-bottom: 0;
}

.about__button {
  display: block;
  margin-top: 24px;
}

.more {
  position: relative;
  font-weight: 500;
  color: #1B1C21;
}

.about__item:last-child {
  margin-top: 22px;
}

.about__image-container {
  display: block;
}

.about__image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.about__button {
  padding-left: 20px;
}

.about__button::before {
  content: '';
  background: url("../../assets/images/more.svg") no-repeat;
  position: absolute;
  bottom: 3px;
  width: 8px;
  height: 11px;
  left: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  height: 100%;
  background: white;
  padding: 18px 24px 0 24px;
  box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
  overflow-y: auto;
}

.sidebar__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__header {
  display: flex;
}

.sidebar__header-button:last-child {
  margin-left: auto;
}

.sidebar__header-button:first-child {
  margin-right: 16px;
}

.sidebar__list {
  margin-top: 46px;
}

.sidebar__item:not(:last-child) {
  margin-bottom: 32px;
}

.sidebar__link {
  height: 100%;
  position: relative;
  font-weight: 500;
  color: #1B1C21;
}

.sidebar__link::before {
  content: '';
  transition: .4s;
}

.sidebar__link--active {
  color: #7E7E82;
}

.sidebar__footer-icons {
  display: flex;
}

.sidebar__footer-icon:not(:last-child) {
  margin-right: 16px;
}

.sidebar__link--active::before,
.sidebar__link:hover::before,
.sidebar__link:focus::before,
.sidebar__link:active::before {
  content: '';
  position: absolute;
  height: 32px;
  width: 4px;
  background: #41F6D7;
  left: -24px;
  top: -6px;
  border-radius: 0 20px 20px 0;
}

.sidebar__email {
  margin-top: 16px;
  font-weight: 500;
  transition: .4s;
}

.sidebar__phone {
  margin-top: 12px;
  font-weight: 700;
  font-size: 24px;
  transition: .4s;
}

.sidebar__email:hover, .sidebar__phone:hover {
  color: #7E7E82;
}

.sidebar__footer {
  margin-top: 32px;
}

.sidebar__languages {
  display: flex;
  margin: 40px 0 32px 0;
}

.sidebar__language {
  font-weight: 500;
  color: #1B1C21;
  transition: .4s;
}

.sidebar__language:hover {
  color: #7E7E82;
}

.sidebar__language--active {
  color: #7E7E82;
}

.sidebar__language-item:not(:last-child) {
  margin-right: 7px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  filter: blur(24px);
  background: #ccc;
  z-index: -1;
}

.services__title {
  color: #7E7E82;
  font-weight: 400;
  padding: 16px;
  font-size: 1rem;
  text-transform: uppercase;
  background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 24px;
  flex-wrap: wrap;
  padding: 16px;
}

.brands__slider {
  margin-left: 16px;
  margin-top: 16px;
  margin-right: auto;
}

.brand--hidden {
  display: none !important;
}

.brand {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 0 20px;
  height: 72px;
  justify-content: space-between;
  width: 100%;
}

.brand__image {
  display: block;
}

.brand__button {
  margin-left: auto;
}

.brand__button-icon {
  background: none;
  border: 2px solid #FF3E79;
}

.main-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  transition: .4s;
}

.main-icon:hover {
  opacity: .8;
}

.main-icon--filled {
  background: #FF3E79;
}

.brands__wrapper {
  padding: 16px;
}

.brands__slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-top: 40px;
  background: #B5B6BC;
}

.brands__slider .swiper-horizontal > .swiper-pagination-bullets {
  bottom: -4px;
}

.brands__slider {
  height: 100px;
}

.brands-swiper {
  width: 100%;
  height: 100%;
}

.brands-swiper .swiper-slide {
  /*text-align: center;*/
  bottom: 0;
  top: auto;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}

.brands__show-more {
  margin-left: 24px;
  padding-right: 50px;
  padding-left: 20px;
}

.brands__show-more::before {
  content: '';
  background: url("../../assets/images/more.svg") no-repeat;
  position: absolute;
  bottom: 3px;
  width: 8px;
  height: 11px;
  left: 0;
  transition: transform .3s;
}

.brands__show-more--clicked::before {
  transition: transform .3s;
}

.brands__show-more--clicked::before {
  transform: rotate(-180deg);
}

@media (min-width: 320px) {
  .header-main {
    display: block;
    margin-top: 0;
  }

  .header__text {
    display: none;
  }

  .header {
    background: #ffffff;
  }

  .header__actions:first-child .header__button:first-child {
    margin-right: 16px;
  }

  .header__actions:last-child .header__item:first-child {
    display: none;
  }

  .header__actions:last-child .header__item .header__button {
    margin-right: 16px;
  }

  .header__actions:last-child .header__item .header__button:last-child {
    margin-right: 0;
  }

  .brands__wrapper {
    display: none;
  }

  .brands__show-more {
    display: none;
  }
}

@media (min-width: 784px) {
  .header {
    padding: 19px 24px;
  }

  .main-title {
    margin-left: 24px;
  }

  .header__actions:last-child .header__item:first-child {
    display: flex;
  }

  .header__actions:last-child .header__item:first-child .header__button:last-child {
    position: relative;
  }

  .header__actions:last-child .header__item:first-child .header__button:last-child::after {
    content: '';
    position: absolute;
    display: block;
    background: #EAEAEA;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    right: -20px;
  }

  .header__logo-container {
    margin-left: 24px;
    height: 100%;
  }

  .header__logo-container::after {
    display: none;
  }

  .header__logo-container::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 1px;
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    top: 10px;
    left: -20px;
  }

  .main-title::before {
    left: -24px;
  }

  .menu__list {
    margin-left: 24px;
  }

  .about {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
  }

  .about__item:first-child {
    padding: 0;
    flex-basis: 50%;
  }

  .about__item:last-child {
    margin-top: 0;
  }

  .about__image {
    height: 208px;
    width: 360px;
    border-radius: 8px;
  }

  .services__title {
    padding: 16px 24px;
    background: linear-gradient(-90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  }

  .brands__wrapper {
    padding: 24px;
  }

  .brands__slider {
    display: none;
  }
  
  .brands__wrapper {
    display: grid;
  }

  .brands__show-more {
    display: block;
    margin-left: 32px;
  }
}

@media (min-width: 1121px) {
  .header-main {
    display: flex;
    margin-top: 42px;
  }

  .header {
    background: none;
    padding: 0;
  }

  .main-title {
    margin-top: 0;
    margin-left: 0;
  }

  .header__text {
    display: flex;
  }

  .header__actions:last-child .header__item:first-child {
    display: none;
  }

  .header__actions:first-child {
    display: none;
  }

  .header__actions:last-child .header__item:last-child .header__button {
    margin-right: 32px;
  }

  .header__actions:last-child .header__item .header__button:last-child {
    margin-right: 0;
  }

  .main-title::before {
    left: -32px;
    border-radius: 4px;
  }

  .menu__list {
    margin-left: 0;
    overflow-x: initial;
    flex-wrap: wrap;
    white-space: normal;
  }

  .about {
    padding: 0;
    margin-top: 7px;
  }

  .about__image {
    height: 307px;
    width: 531px;
  }

  .services__title {
    padding: 16px 32px;
    background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  }

  .brands__wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
  }

  .brands__show-more {
    margin-left: 32px;
  }

}



